@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #e8e8e8;
  font-family: "Open Sans", sans-serif;
}

.contenedor {
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.formulario {
  margin: auto;
  width: 70vh;
  min-width: 600px;
  margin-top: 8rem;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.formulario > div {
  margin-bottom: 20px;
}

.formulario label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  color: #1f1f1f;
}

.formulario input,
.formulario textarea {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #e2e2e2;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 5px;
  color: #1f1f1f;
}

.formulario input,
.formulario select {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #e2e2e2;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 5px;
  color: #1f1f1f;
}
.formulario input:focus {
  outline: none;
  border: 2px solid rgb(24, 13, 189);
}

.formulario .error {
  color: #9c0a0d;
  margin-top: 0.7rem;
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
}

.formulario button[type="submit"] {
  display: block;
  background: #023e77;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  padding: 12px;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2rem;
  transition: 0.3s ease all;
}

.formulario button[type="submit"]:hover {
  background: #0343ce;
}

.formulario .exito {
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  color: #02a802;
}

.formulario input[type="radio"] {
  width: auto;
}

.sidebar {
  color: #fff;
  width: 30vh;
  background-color: #00152a;
}

.logo-menu-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
  width: 30vh;
  background-color: #00152a;
}

.logo-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.88);
}

.menu-bar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.2rem;
  width: 30vh;
}
